<%- include('partials/header.ejs') %>
<h2 class="text-center mb-3 mt-5">Edit your listing</h2>
<section class="h-100 d-flex justify-content-center align-items-center">
        <form class="needs-validation" action="/product<%=url%>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="product" class="form-label">Product Name:</label>
                    <input type="text" class="form-control" name="product" id="product" required placeholder="Macbook Pro" value="<%= product.name%>">
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="3" required placeholder="Barely used..."><%=product.productDescription%></textarea>
                    <div class="valid-feedback">
                    Looks good!
                    </div>   
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Image(s):</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="display" 
                    accept="image/png, image/jpeg, image/jpg"
                    multiple>
                </div>
                <div class="mb-3">
                    <h5 for="">Existing Images:</h5>
                    <% product.images.forEach(function(img, i){ %> 
                    <img class="img-thumbnail" src="<%=img.thumbnail%>" alt="">
                    <div class="form-check-inline">
                        <label for="image-<%=i%>">Delete</label>
                        <input type="checkbox" name="imageSelected[]" id="image-<%=i%>" value="<%=img.filename%>">
                    </div>
                    <% }) %> 
                </div>
                <input type="submit" class="btn btn-primary" >
        </form>
</section>
<script src="/js/formValidation.js"></script>
<%- include('partials/footer.ejs') %>